/* ---------------------
    GOOGLE FONTS
------------------------ */

@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Poppins:wght@400;500;600;700;800;900&family=Roboto:wght@300;400;500;700;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

/* -----------------------
    CSS CUSTOM PROPERTY
-------------------------- */

:root {
    --blue: #007bff;
    --gray-dark: #3F4254;
    --success: #50CD89;
    --warning: #FF490F;
    --danger: #EF305E;
    --white: #ffffff;
    --black: #000000;
    --primary-color: #E51E21;

    /* FONT FAMILY */

    --primary-font: "Poppins", sans-serif;
    --secondary-font: "Roboto", sans-serif;
    --third-font: "Lato", sans-serif;
    --fourth-font: 'Bebas Neue', cursive;
}

/* ---------------------
    COMMON STYLES
------------------------ */

* {
    font-family: var(--primary-font);
}

/* PRIMARY BUTTON, USE FOR ALL SECTION BUTTON */
.primary-btn {
    border: none;
    color: var(--white);
    background-color: rgba(229, 30, 33, .8);
    font-weight: 500;
}

.primary-btn:hover {
    color: var(--white);
    border: none;
    background-color: rgba(229, 30, 33, 1);
}

/* PRIMARY COLOR, USE FOR WEBSITE DEFAULT COLOR */
.primary-color {
    color: var(--primary-color);
}

/* PRIMARY BACKGROUND COLOR, USED FOR WEBSITE DEFAULT COLR */
.primary-bg-color {
    background-color: var(--primary-color);
}

/* BRAND NAME USED THIS CLASS */
.text-color {
    letter-spacing: 2px;
    font-family: var(--fourth-font);
    color: var(--primary-color);
}

.text-color:hover {
    color: var(--primary-color);
}

/* BRAND LOGO SIZE */
.brand-logo {
    width: 50px;
    height: 100%;
}

.brand-logo-footer {
    width: 120px;
    height: 100%;
}

/* CAROSEL IMAGES SIZE */
.carosel-img-size {
    width: 100%;
    height: 85vh;
    background: var(--black);
    background-blend-mode: darken, luminosity;
    background-color: rgba(0, 0, 0, 0.5);

}

.carosel-title {
    font-size: 50px;
}

.explore-image-size {
    width: 100%;
}

.bg-color {
    background-color: #F4FAFD;
}

/* COMPANY IMAGES SIZE */
.company-img-size {
    width: 100px;
    height: 100%;
}


/* JOIN SECTION */
.join-bg-color {
    background-color: #289BDE;
}


/* FOOTER SECTION */
.footer-bg-color {
    background-color: #161616;
}

.icons-bg-color {
    transition: all .3s ease .1s;
    background-color: #242424;
}

.icons-bg-color:hover {
    color: var(--white);
    background-color: var(--primary-color);
}

.footer-title {
    color: var(--primary-color);
}

.footer-title:hover {
    color: var(--primary-color);
}

/* Media query is commonly used to display the carousel slide content on any device. */

@media only screen and (max-width: 576px) {
    .custom-slider-caption {
        margin-bottom: 0 !important;
        padding-bottom: 10px !important;
    }

    .custome-carosel-title {
        font-size: 26px;
    }

    .custome-carosel-sub-title {
        font-size: 16px;
    }

    .register-button {
        display: none;
    }

    .course-img-size {
        width: 100%;
    }
}

@media only screen and (min-width: 576px) and (max-width: 992px) {
    .register-button {
        position: relative;
        left: 55px;
        top: 5px;
    }

    .custom-slider-caption {
        margin-bottom: 0 !important;
        padding-bottom: 10px !important;
    }

    .custome-carosel-title {
        font-size: 30px;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
    .custom-slider-caption {
        margin-bottom: 0 !important;
        padding-bottom: 10px !important;
    }

    .custome-carosel-title {
        font-size: 30px;
    }
}